<br />

<div class="booyah-box col-10 offset-1">

  <h1 class="text-center"><b><%= @specialdeal.title %></b></h1>
  <hr />
  <br />

  <div>  
    <h2 class="text-center">
      <span class="badge badge-default">
        Special price at <%= number_to_currency (@specialdeal.cost).to_f / 100 %>
      </span>
    </h2>
  </div>
  <br />
  
  <div class="row">
    <div class="col-sm-6 col-12">
      <h3><% @specialdeal.images.each do |image| %></h3>
      <% end %>
    </div>
    <div class="col-sm-6 col-12">
      <h3><%= @specialdeal.description %></h3>
    </div>
  </div><br />

  <div class="row">
    <div class="col-sm-8 col-12">
      <%= @specialdeal.disclaimer %>
    </div>

    <div class="col-sm-4 col-12 text-center">
        <%= form_tag specialdeal_charges_path(@specialdeal) do %>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description= <%= @specialdeal.title %>
                  data-amount= <%= @specialdeal.cost %>
                  data-locale="auto"></script>
        <% end %>
    </div>
  </div>

  <div class="text-center">
    <% if current_user && current_user == @specialdeal.user %>
    <br />
        <%= link_to 'Administer', admin_specialdeal_path(@specialdeal), class: 'btn btn-danger btn-large' %>
    <% end %> 
  </div>
</div>