<br />
<div class="booyah-box col-10 offset-1">
  <h1>Add a new special deal</h1>
  <%= simple_form_for @specialdeal, url: admin_specialdeals_path do |f| %>
    <%= f.input :title %>
    <%= f.input :cost %>
    <%= f.input :description %>
    <%= f.input :disclaimer %>
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />  
</div>