<!DOCTYPE html>
<html>
  <head>
    <title>California Auto Center Millbrae | Best Auto Repair Shop | Auto Mechanic | Tires Sales and Repair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href=https://cac-powai-leung.herokuapp.com>CALIFORNIA AUTO CENTER</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="location">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="specialdeals">Special Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.tirebuyer.com/?account=376572">Shop Tires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact_us">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>  
          <div id="yelp-biz-badge-rrc-_NGFY_9iw4gAMGIj6tvYwQ"><a href="http://yelp.com/biz/california-auto-center-millbrae?utm_medium=badge_star_rating_reviews&amp;utm_source=biz_review_badge" target="_blank">Check out California Auto Center on Yelp</a></div>    <script>(function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-rrc-_NGFY_9iw4gAMGIj6tvYwQ";g.src = "//yelp.com/biz_badge_js/en_US/rrc/_NGFY_9iw4gAMGIj6tvYwQ.js";s.parentNode.insertBefore(g, s);}(document, 'script'));</script> 
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="#">(650)692-5222</a>
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>  
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>  
    <%= yield %>
  </div>

  <div id="footer">
    
  </div>
  </body>
</html>
